.kg-bookmark-container {
  padding: 2rem 0;
  display: block;
  border-width: 0 !important;

  .kg-bookmark-title {
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 900;
  }

  .kg-bookmark-metadata {
    font-family: $headings-font-family;
    font-size: 0.95rem;
    font-weight: 900;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 5px;
  }

  .kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }

  .kg-bookmark-publisher {
    overflow: hidden;
    max-width: 240px;
    white-space: nowrap;
    display: block;
    line-height: 1.65em;
  }

  .kg-bookmark-description {
    @extend .sr-only;
  }
  .kg-bookmark-thumbnail {
    @extend .sr-only;
    img {
      width: 100%;
    }
  }
}