.site-head {
  position: relative;
  z-index: 100;
  .site-nav-item-wrapper {
    display: block;
    line-height: 1.2;
    padding: 3px 0;
    margin-right: 0;
    text-align: right;
  }
  .site-nav-item {
    position: relative;
    font-family: $headings-font-family;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: bold;
    &.active {
      color: $secondary;
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 5px;
        right: 0;
        height: 8px;
        width: 125%;
        background-color: $primary;
      }
    }
  }
  .site-brand {
    margin-left: 0px;
    .logoTitle,
    .pixelHeart {
      transition: all .5s ease-in-out;
    }
    &:hover {
      .logoTitle {
        fill: $primary;
      }
      .pixelHeart {
        fill: $secondary;
      }
    }
  }
}


@media (min-width: 500px) {
  .site-head {
    .site-brand {
      margin-left: 0rem;

    }
  }
  .site-mast-nav {
    position: absolute;
    left: -185px;
    top: 0;
    width: 185px;
  }
}
