.site-head {
  max-width: $siteWidth;
  position: relative;
  z-index: 100;
  .site-nav-item-wrapper {
    display: block;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 3px 0;
    margin-right: 0;
  }
  .site-nav-item {
    position: relative;
    &.active {
      &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 5px;
        right: 0;
        height: 8px;
        width: 125%;
        background-color: $blue;
      }
    }
  }

  .site-brand {
    margin-left: -30px;
    transform: translateY(75px);
  }
}


@media (min-width: 500px) {
  .site-head {
    .site-brand {
      margin-left: -50px;

    }
  }
}
