.site-head {
  max-width: $siteWidth;
  .site-nav-item-wrapper {
    display: block;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 3px 5px;
  }
  .site-nav-item {
    position: relative;
    &.active {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -14px;
        height: 100%;
        width: 8px;
        background-color: $green;
      }
    }
  }

  .site-brand {
    margin-left: -30px;
    transform: translateY(75px);
  }

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 40px;
    background-color: $latte;
  }
}


@media (min-width: 500px) {
  .site-head {
    .site-brand {
      margin-left: -50px;
      
    }
  }
}