

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 5px solid $green;
  padding-left: 1.5rem;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
  height: 25px;
}

.site-main {
  background-color: $latte;
  width: 100%;
  max-width: $siteWidth;
  //overflow-y: hidden;
  &::before {
    content: '';
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAUElEQVQokWMsLC9X4ePg+MPBwfGPgUTA8vXLF5b+efNeMLCz/yVZs6SU1A+G16+/z5kzh3TNf/7+ZQQxkpOTSdXLwESyjlHNo5rpo5mBgQEAOswVefeBWU0AAAAASUVORK5CYII=");
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 55vh;
    height: 400px;
    z-index: -1;
  }

}