

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-left: 8px solid $green;
  padding-left: 1.5rem;
}

.viewport {
  border-left: 1px solid #D0CBC1;
  width: 100%;
  max-width: $siteWidth;
  margin: auto;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
  height: 25px;
}

.post-feed-wrapper,
.post-feed {
  margin-right: auto;
  margin-left: auto;
  //overflow-y: hidden;

}

.post-feed {
  position: relative;
  &::after {
    content: '';
    transform: translateX(-90px);
    display: block;
    width: 250px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNTUiIGhlaWdodD0iMzAiIHZpZXdCb3g9IjAgMCAyNTUgMzAiPgogIDxkZWZzPgogICAgPGxpbmVhckdyYWRpZW50IGlkPSJhIiB4MT0iMSIgeDI9IjAiIHkxPSIuNSIgeTI9Ii41IiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCI+CiAgICAgIDxzdG9wIG9mZnNldD0iMCIgc3RvcC1jb2xvcj0iI2EzYjhhNiIvPgogICAgICA8c3RvcCBvZmZzZXQ9IjEiIHN0b3AtY29sb3I9IiM5OWUyZTciLz4KICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImIiIHgxPSIxIiB4Mj0iMCIgeTE9Ii41IiB5Mj0iLjUiIGdyYWRpZW50VW5pdHM9Im9iamVjdEJvdW5kaW5nQm94Ij4KICAgICAgPHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjOTllMmU3Ii8+CiAgICAgIDxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iI2ZmZGE2NSIvPgogICAgPC9saW5lYXJHcmFkaWVudD4KICA8L2RlZnM+CiAgPHBhdGggZmlsbD0idXJsKCNhKSIgZD0iTTAgMGgyMDB2MzBIMHoiLz4KICA8cGF0aCBmaWxsPSJ1cmwoI2IpIiBkPSJNMCAwaDIwMHYxMEgweiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNTUgMTEpIi8+Cjwvc3ZnPgo=")
  }
}

.toggle-wrapper {
  position: fixed;
  right: 40px;
  top: 40px;
  z-index: 100;
}

.navbar-toggler {
  background-color: transparent;
  //border-width: 0;
  position: relative;
  z-index: 500;
  //opacity: 0;
  transition: all .7s ease-in-out;
  &:focus {outline: none;}
  .icon-bar {
    background-color: $black;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
    display: block;
    width: 28px;
    height: 2px;
    border-radius: 1px;
    margin: 5px -4px;
  }
}

.site-nav-mobile-wrapper {
  background-color: $latte;
  color: $white;
  position: fixed;
  max-width: 100%;
  width: 100%;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 50;
  overflow: hidden;
  transform: translateX(100%);
  transition: transform .3s;

  .list-item {
    font-size: 2rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-weight: 800;
    font-size: 2.5rem;
    a {
      color: $blue;
    }
    .site-nav-item.active {
      color: $black;
    }
    .site-nav-item.active::after {
      display: none;
    }
  }
}

.page.nav-is-active {
  .site-nav-mobile-wrapper {
    transform: translateX(10%);
    transition: transform .3s;
  }
  .navbar-toggler {
    //width: 87px;
    transition: transform .3s;
    //transform: translateX(-420px);
    .icon-bar{
      transition: ease all .3s;
      margin: 5px 0;
    }
    .icon-bar:nth-child(1) {
      transform: rotate(45deg) translateX(0px);
      transform-origin: bottom left;
    }
    .icon-bar:nth-child(2),
    .icon-bar:nth-child(3) {opacity: 0;}

    .icon-bar:nth-child(4) {
      transform: rotate(-45deg) translateX(0px);
      transform-origin: top left;
    }
    &:hover {
      .icon-bar {
        opacity: 1;
        margin: 5px -4px;
        transform: rotate(0deg) translate(0px, 0px);
      }
    }
  }
}

@media (max-width: 500px) {
  .site-main {
    overflow: hidden;
  }
}
