

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-nav-icon {
    height: 15px;
    margin: -5px 0 0;
}

.site-logo {
  height: 25px;
}

.site-main {
  background-color: $latte;
  width: 100%;
  max-width: 600px;
  overflow-y: hidden;
}