.microblog {
  .site-brand {
    .logoTitle,
    .logo-background,
    .logoName {
      display: none;
    }
    .pixelHeart-container {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
