.post-card {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.post-card-header {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 2.25rem;
    right: -20px;
    height: 15px;
    width: 100%;
    max-width: 450px;
    background-color: $blue;
  }
}

.post-card-tags {
  font-size: .9rem;
  line-height: 1.15em;
}


.post-card-title {
  margin: 0 0 10px 0;
  position: relative;
  z-index: 10;
  &.h4 {
    font-size: 1.75rem;
    letter-spacing: 2.5px;
    line-height: 1.4;
    
  }
}

//.post-card-excerpt {
//  font-size: 1.6rem;
//  line-height: 1.55em;
//}

.post-card-image {
  margin: 0 0 10px 0;
  width: auto;
  height: 200px;
  background: var(--color-secondary) no-repeat center center;
  background-size: cover;
}

.post-card-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 0 0;
  color: var(--color-secondary);
}

.post-card-footer-left {
  display: flex;
  align-items: center;
}

.post-card-footer-right {
  display: flex;
  flex-direction: column;
}

.post-card-avatar {
  width: 30px;
  height: 30px;
  margin: 0 7px 0 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-card-avatar .author-profile-image {
  display: block;
  width: 100%;
  background: var(--color-secondary);
  border-radius: 100%;
  object-fit: cover;
}

.post-card-avatar .default-avatar {
  width: 26px;
}