
.read-first {
  position: relative;
  background-color: $Nightshade;
  border: 1px solid $NightshadeOutline;

  .read-first-list {
    position: relative;
    z-index: 5;
  }
}

.read-first,
.tag-header {
  &::after {
    content: '';
    position: absolute;
    right: 2rem;
    bottom: -2rem;
    margin-right: 0;
    margin-left: auto;
    transform: translateX(90px);
    display: block;
    width: 250px;
    height: 72px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIHZpZXdCb3g9IjAgMCAyNDggNzAiPgogIDxnPgogICAgPHBhdGggaWQ9IlJlY3RhbmdsZSIgZmlsbD0idXJsKCNfTGluZWFyMSkiIGQ9Ik0wIDYwaDI0OHYxMEgweiIvPgogICAgPGNpcmNsZSBjeD0iMTk0IiBjeT0iMzEiIHI9IjMwIiBmaWxsPSJub25lIiBzdHJva2U9IiM5NTg4ZmMiIHN0cm9rZS13aWR0aD0iMiIvPgogIDwvZz4KICA8ZGVmcz4KICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iX0xpbmVhcjEiIHgxPSIwIiB4Mj0iMSIgeTE9IjAiIHkyPSIwIiBncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KC0yNDggMCAwIC0yNDggMjQ4IDY1KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPgogICAgICA8c3RvcCBvZmZzZXQ9IjAiIHN0b3AtY29sb3I9IiM3NTY4ZWYiLz4KICAgICAgPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjYjNhY2UzIi8+CiAgICA8L2xpbmVhckdyYWRpZW50PgogIDwvZGVmcz4KPC9zdmc+Cg==");
  }
}

.post-item-header {
  .h5 {
    color: $primary;
  }
  .h6 {
    color: $purple;
  }
}

.content-body {
  a {
    border-bottom: 2px solid $purple;
    position: relative;
    &:hover {
      text-decoration: none;
      color: $green;
      border-color: $green;
    }
  }
}
