// Colors
$black: #03080F;
$latte: #F1F1ED;
$blue: #99E2E7;
$green: #A3B8A6;
$yellow: #FFDA65;
$orange: #FD6707;
$purple: #E1BED8;
$pink: #e86f8e;

// Set colors for components
$primary: $black;
$body-bg: #F8F8F6;
$body-color: #03080F;

$siteWidth: 630px;

// Fonts
$font-family-sans-serif:  'Rubik', rubik, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: 'Brandon Grotesque', brandon-grotesque, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1.1rem;
$line-height-base: 1.75;
$paragraph-margin-bottom: 1.75rem;

$headings-font-weight: 900;

$h1-font-size: $font-size-base * 4;
$h2-font-size: $font-size-base * 2.75;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 680px,
  lg: 690px,
);
