// Colors
$black: #03080F;
$latte: #F1F1ED;
$blue: #99E2E7;
$green: #A3B8A6;
$yellow: #FFDA65;
$orange: #FD6707;
$purple: #E1BED8;
$pink: #e86f8e;

// Set colors for components
$primary: $black;
$body-bg: #F8F8F6;
$body-color: #03080F;

$siteWidth: 630px;

// Fonts
$font-family-sans-serif:  'Rubik', rubik, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: 'Brandon Grotesque', brandon-grotesque, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-size-base: 1.25rem;
$font-weight-base: 300;
$line-height-base: 1.75;
$paragraph-margin-bottom: 1.75rem;

$headings-font-weight: 900;
$headings-margin-bottom: 2rem;

$h1-font-size: 4rem;
$h2-font-size: 2.75rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
);

$container-max-widths: (
  sm: 540px,
  md: 680px,
  lg: 690px,
);
